@charset "UTF-8";
/* reset
------------------------------------- */
*{
    margin: 0;
    padding: 0;
    line-height: 1.0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}
ul{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: bottom;
    border: none;
    max-width: 100%;
    height: auto;
}
/* common
------------------------------------ */
:root{
    --accent-color: #ff6b83;
}
body{
    background: #333;
    overflow-x: hidden;
}
@keyframes loopSlider{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}
.ls{
    display: flex;
}
.ls .ls__item{
    display: flex;
    animation: 20s loopSlider linear infinite;
}
.ls .ls__item span{
    color: white;
    margin: 0 .25em;
}
.ls ul.ls__item li{
    margin: 0 10px;
    transition: .3s;
}
.ls ul.ls__item li a{
    display: block;
    width: 300px;
    height: 250px;
    background: url(../img/sample.jpg) center/cover;
    transition: .3s;
}
/* スライダーホバー時のアクション */
.ls:hover ul.ls__item{
    animation-play-state: paused;
}
.ls ul.ls__item li:hover a{
    margin-top: -10px;
    box-shadow: 0 0 10px white;
}
/* header
------------------------------------ */
.homeHed{
    text-align: center;
    padding: 100px 0;
    margin-bottom: 1000px;
}
@keyframes textSlideIn{
    0%{
        transform: translateX(-300%);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
h1 span{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: white;
    border-radius: 50%;
    opacity: 0;
}
h1 span.active{
    animation: 2s textSlideIn;
    animation-fill-mode: forwards;
}
/* animation
---------------------------------------- */
/* 下からフェードインするアニメーション */
@keyframes bottomIn{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* 左から右に引いたかのようなアニメーション */
@keyframes extendW{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
/* profile
---------------------------------------- */
.prof{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 1%;
}
.prof__ttl{
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}
.prof__ttl span{
    font-size: 70px;
    font-weight: 100;
    opacity: 0;
    display: inline-block;
    color: white;
}
/* JSでactiveが付与された時のアニメーション */
.prof__ttl.active span{
    animation: 2s bottomIn;
    animation-fill-mode: forwards;
}
.prof__pic{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}
.prof__pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    object-fit: cover;
    opacity: 0;
}
/* JSでactiveが付与された時のアニメーション */
.prof__pic.active img{
    animation: 2s extendW;
    animation-fill-mode: forwards;
}
.prof__grf{
    width: 68%;
}
.prof__grf figcaption{
    opacity: 0;
}
/* JSでactiveが付与された時のアニメーション */
.prof__grf.active figcaption{
    animation: 2s extendW;
    animation-fill-mode: forwards;
}
.prof__grf figcaption p{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background: white;
}
.prof__grf figcaption p:not(:last-of-type){
    margin-bottom: 20px;
}
.prof__grf figcaption p:nth-of-type(2){
    width: 90%;
}
.prof__grf figcaption p:nth-of-type(3){
    width: 80%;
}
.prof__grf figcaption p:nth-of-type(4){
    width: 70%;
}
.prof__grf figcaption p span{
    display: block;
    line-height: 60px;
}
/* client works WV
--------------------------------------- */
.cw__cl{
    padding: 100px 1%;
}
/* client works WV title
--------------------------------------- */
.cw__cl__ttl{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.cw__cl__ttl p{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}
.cw__cl__ttl p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    border-radius: 50%;
}
.cw__cl__ttl p img:last-of-type{
    padding: 30px;
}
.cw__cl__ttl h3{
    color: white;
    font-weight: 100;
    font-size: 70px;
}
/* client works WV mock
---------------------------------- */
.cw__cl__mock p{
    display: flex;
    background: #ff6b83;
    margin: 0 auto;
    width: 40%;
    padding-bottom: 30%;
    position: relative;
}
.cw__cl__mock p img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.cw__cl__mock p img:nth-of-type(2){
    width: 80%;
}