svg{
    width: 100px;
}
#paint, #frame{
    fill: none;
    stroke-dasharray: 7000;
    stroke-dashoffset: 0;
    stroke-width: 1;
    animation: hello 3s ease-in forwards;
}
#paint{
    
}
@keyframes hello {
    0% {
        stroke-dashoffset: 7000;
        fill:transparent; /*透過*/
    }
    50% {
        fill:transparent; /*透過*/
    }
    100% {
        stroke-dashoffset: 0;
        fill:#333;
    }
}
