svg{
    width: 100px;
}
#paint, #frame{
    stroke: #000; 
    fill: none;
    stroke-dasharray:  4000; 
    stroke-dashoffset: 4000; 
}
#frame{
    animation: hello 3s ease-in forwards;
}
#paint{
    animation: hello 3s ease-in forwards 1s;
}
@keyframes DASH {
    0% {
        stroke-dashoffset: 4000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
